.App {
  text-align: center;
}

section {
  background-color: #ffffff80;
  padding: 10px 50px 0 50px;
  font-size: 20px;
  
}

.navBg {
  background-color: #30353B;
}

.rs-btn-sm {
  font-size: 25px;
}